<p id="notice"><%= notice %></p>

<p>
  <strong>Telefono:</strong>
  <%= @contacto.telefono %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @contacto.nombre %>
</p>

<%= link_to 'Edit', edit_contacto_path(@contacto) %> |
<%= link_to 'Back', contactos_path %>
